<p>send-email works!</p>

<div class="card mt-5" *ngIf="registeredEmail">
    <div class="card-body">
        <h3 class="card-title text-center">Thank you for Registering!</h3>
        <div class="form-group mt-2">
            <p class="text-center">
                We have sent a confirmation email to <strong>{{ registeredEmail }}</strong>
            </p>
            <p class="text-center">
                Please check your email and click on the link to verify your email
                address.
            </p>
            <div class="form-group text-center mt-3">
                <button class="btn btn-primary" (click)="onSendOk()">
                    Continue
                </button>
            </div>
            <br>
            <!-- <p>Did you register and can't find the verification email?
                register again with the same credentials
            </p>
            <div class="form-group text-center mt-3">
                <button class="btn btn-primary " [routerLink]="['/register']">
                    Register Again
                </button>
            </div> -->
        </div>
    </div>
</div>

<ng-template #loading>
    Loading....
</ng-template>