
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    padding: 5vh;
    margin-top: 10px;
    /* margin-left: 70vh;
    margin-right: 70vh; */

}